body {
    margin: 10%;
}

.button:hover {
    cursor: pointer;
    background-color: green;
    color: white;
}

.button::before{
    content: "Pasa por encima";
}

.button:hover::before {
    content: '¡Hecho!';
}